.App {
  text-align: center;
}

#mainContainer {
  display: flex;
}

#LeftSide {
  width: 50%;
}

#RigthSide {
  width: 50%;
}

#preview {
  position: relative;

}

#preview-pic {
  width: 100%;
}

#preview-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#preview-text>label {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  padding: 1em;
}